[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
	ignore = untracked
[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
	ignore = untracked
[submodule "lib/slime"]
	path = lib/slime
	url = git://github.com/technomancy/slime.git
	ignore = untracked
[submodule "lib/paredit"]
	path = lib/paredit
	url = git://github.com/emacsmirror/paredit.git
	ignore = untracked
[submodule "lib/auto-complete"]
	path = lib/auto-complete
	url = git://github.com/m2ym/auto-complete.git
	ignore = untracked
[submodule "lib/popup"]
	path = lib/popup
	url = git://github.com/m2ym/popup-el.git
